<div class="jumbotron">
    <h1>Open Dermatology Database</h1>
    <p>A database for storing and curating skin conditions</p>
    <p>
        <a class="btn btn-lg btn-primary" href="/auth/login" role="button">Login &raquo;</a>
    </p>
</div>