<h1>Login</h1>
<form id="login_form">
    <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="" required="" title="Please enter you email" placeholder="Email">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password" placeholder="Password">
        <span class="help-block"></span>
    </div>
    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
    <button type="submit" class="btn btn-success btn-block">Login</button>
</form>
<br>
<button class="btn btn-info btn-block">Sign Up</button>
<script>
    $("#login_form").submit(function (event) {
        event.preventDefault();
        url = "/_/auth/login";
        Logger("info", "Login", "Submitting form...");
        var data = {
            email: $('#email').val(),
            password: $('#password').val()
        };
        var packet = JSON.stringify(data);
        submit(packet, url);
        return false;
    });
</script>