<h1>Submit A New Problem</h1>
<form id="create_problem">
    <div class="form-group">
        <label for="type" class="control-label">Problem Type</label>
        <input type="text" class="form-control" id="type" name="type" value="" required="" title="Please enter the problem type" placeholder="e.g. Rash">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Problem Description</label>
        <input type="text" class="form-control" id="description" name="description" value="" required="" title="Please enter a description" placeholder="...">
        <span class="help-block"></span>
    </div>
    <button type="submit" class="btn btn-success btn-block">Create New Problem</button>
</form>
<br>

<script>
    $("#create_problem").submit(function (event) {
        event.preventDefault();
        url = "/_/problem";
        Logger("info", "Problem", "Submitting form...");
        var data = {
            type: $('#type').val(),
            description: $('#description').val()
        };
        var packet = JSON.stringify(data);
        submit(packet, url);
        return false;
    });
</script>